$primary-color: #272a31;
$secondary-color: #ec5242;
$accent-color: #d3d3d3;
$white-color: #fff;

@import 'icons/fontawesome.scss';
@import 'icons/solid.scss';
@import 'icons/regular.scss';
@import 'icons/brands.scss';

@font-face {
  font-family: 'Cocogoose Letterpress';
  src: url(../../fonts/COCOGOOSELETTERPRESS_TRIAL.ttf);
}

@font-face {
  font-family: "Lato";
  src: url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");
}

body {
  box-sizing: border-box;
  margin: 0;

  * {
    font-family: 'Lato', sans-serif;
    color: $primary-color;
    box-sizing: border-box;
    line-height: 1.5rem;
  }
}

section {
  padding: 12px;
}

nav {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  align-items: center;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  font-size: 2rem;
  padding: 12px;
  box-sizing: inherit;
  z-index: 1000;
  background-color: $accent-color;

  a {
    text-decoration: inherit;
    color: $primary-color;
  }

  > a[href="#close"] {
    align-self: flex-end;
  }

  > ul {
    flex-direction: column;
    padding: 0;
    list-style: none;

    li {
      line-height: 3rem;
    }
  }

  .active {
    color: $secondary-color;
  }
}

.inactive {
  position: relative;
  left: 0;
  right: unset;
  width: max-content;
  height: max-content;
  background-color: rgba(0, 0, 0, 0);

  > ul {
    display: none;
  }
}