$primary-color: #272a31;
$secondary-color: #ec5242;
$accent-color: #d3d3d3;
$white-color: #fff;

@import 'icons/fontawesome.scss';
@import 'icons/solid.scss';
@import 'icons/regular.scss';
@import 'icons/brands.scss';

