$primary-color: #272a31;
$secondary-color: #ec5242;
$accent-color: #d3d3d3;
$white-color: #fff;

@import 'icons/fontawesome.scss';
@import 'icons/solid.scss';
@import 'icons/regular.scss';
@import 'icons/brands.scss';

@font-face {
  font-family: 'Cocogoose Letterpress';
  src: url(../../fonts/COCOGOOSELETTERPRESS_TRIAL.ttf);
}

@font-face {
  font-family: "Lato";
  src: url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");
}

body {
  box-sizing: border-box;
  margin: 0;

  * {
    font-family: 'Lato', sans-serif;
    color: $primary-color;
    box-sizing: border-box;
    line-height: 1.5rem;
  }
}

section {
  padding: 12px;
}

nav {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  align-items: center;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  font-size: 2rem;
  padding: 12px;
  box-sizing: inherit;
  z-index: 1000;
  background-color: $accent-color;

  a {
    text-decoration: inherit;
    color: $primary-color;
  }

  > a[href="#close"] {
    align-self: flex-end;
  }

  > ul {
    flex-direction: column;
    padding: 0;
    list-style: none;

    li {
      line-height: 3rem;
    }
  }

  .active {
    color: $secondary-color;
  }
}

.inactive {
  position: relative;
  left: 0;
  right: unset;
  width: max-content;
  height: max-content;
  background-color: rgba(0, 0, 0, 0);

  > ul {
    display: none;
  }
}

header {
  text-align: left;
  font-size: 1.5rem;
  line-height: initial;
  color: $secondary-color;

  > p:nth-child(1) {
    margin-bottom: 0;
    color: inherit;
    line-height: inherit;
  }

  > h1 {
    margin-top: 0;
    font-size: 3rem;
    color: inherit;
    line-height: inherit;
  }
}

.top-section {
  background-image: url('../images/Eco-Friendly.jpg');
  background-size: contain;
  background-color: $accent-color;
  padding: 0;

  > .top-cover {
    background-color: rgba($white-color, 0.9);
    padding: 12px;

    > p {
      color: $primary-color;
    }

    &:nth-child(3) {
      border: $accent-color 1px solid;
      background-color: $white-color;
      padding: 12px;
    }

    h2 {
      margin-bottom: 0;
    }

    .top-section-desc {
      font-size: 0.9rem;
      text-align: center;
      padding: 0 12px 0 12px;

      * {
        font-size: inherit;
        text-align: inherit;
      }
    }
  }
}

.main-program {
  display: flex;
  flex-direction: column;
  background-color: $primary-color;
  color: $white-color;
  background-image: url('../images/about-bg.png');

  .section-header {
    h3 {
      color: inherit;
      text-align: center;
    }
  }

  .program-details {
    display: flex;
    flex-direction: column;
    padding: 4px;
    color: inherit;
    max-width: 1024px;
    align-self: center;

    .program-card {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: rgba($accent-color, 0.1);
      margin: 8px;
      color: inherit;

      img {
        width: 50px;
        color: inherit;
      }

      > p {
        flex: 8;
        color: inherit;
      }

      h4 {
        color: $secondary-color;
        flex: 2;
      }

      * {
        margin: 8px;
      }
    }
  }

  .program-footer {
    display: flex;
    justify-content: center;
    margin: 1rem;

    a {
      padding: 32px;
      text-decoration: none;
      font-size: 1rem;
      background-color: $secondary-color;
      color: $white-color;
    }
  }
}
